body {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin-top: 20px;
}

h1 {
  text-shadow: 1px 3px #01ffe4;
}

h2 {
  text-shadow: 1px 3px #01ffe4;
}

#player-1 td.active {
  background-image: url('images/blue-car.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
}

#player-2 td.active {
  background-image: url('images/green-car.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
}

#player-1 td.finish {
  background-image: url('images/flag.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-right: none;
  border-top: none;
}

#player-2 td.finish {
  background-image: url('images/flag.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-right: none;
  border-top: none;
}

.game td {
  border-right: 2px dashed black;
  width: 150px;
  height: 150px;
}

#player-2 td {
  border-top: 2px dashed black;
}

#player-1 {
  display: flex;
  align-items: center;
  font-size: 35px;
  line-height: 150px;
}

#player-2 {
  display: flex;
  align-items: center;
  font-size: 35px;
  line-height: 150px;
}

/* RULES CARD */
.rules-card {
  text-align: center;
}

/* SCORE CARD */
.score {
  margin-top: 20px;
}

.score td {
  border: 2px solid black;
  height: 40px;
  width: 100px;
}

.score table {
  margin-left: auto;
  margin-right: auto;
}
